.modalTitle {
  //border-bottom: solid 1px darkgrey;
  background-color: #eeeeee;
  padding: inherit;
}

.modalContent {
  //border-bottom: solid 1px darkgrey;
  height: auto;
  //background-color: #A4Ef19;
  padding-right: inherit;
  padding-left: inherit;

}

.modalFooter {
  height: auto;
  //border-bottom: solid 1px darkgrey;
  //background-color: aqua;
  text-align: right;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: inherit;
}

.modalTitleLabel {
  margin: 0px;
}

.modalContentLabel {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}