.modalTitle {
  //border-bottom: solid 1px darkgrey;
  background-color: #eeeeee;
  padding: inherit;
}

.modalContent {
  height: auto;
  padding-right: inherit;
  padding-left: inherit;

  & p {
    margin: 0px;
  }

  & input {
    margin-bottom: 5px;
   }

}

.modalFooter {
  height: auto;
  //border-bottom: solid 1px darkgrey;
  //background-color: aqua;
  text-align: right;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: inherit;
}

.modalTitleLabel {
  margin: 0px;
}

.modalContentLabel {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}